/*
	Student Name: Christian Morgan, Derrick Davis, Theodore Petrides
	File Name: style.css
	Date: 9/27/22
*/

/* CSS Reset */
body, header, nav, footer {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style Rule for body and image */

body {
  background-color: #e3eaf8;
}

/*Style rule for image */
img {
  max-width: 100%
  display:block;
}

/* Style rule for for header content */
header h1{
  text-align: center;
  font-size: 3em;
  font-family: Georgia, Times, serif;
  padding: 3%;
  color: #101a2d;
}

/* Style rules for naviagtion area */
nav {
  background-color: #1d396d;

}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;

}

nav li{
  display: inline-block;
  font-size: 1.5em;
  font-family: Verdana, Arielm san-sans-serif;
  font-weight: bold;
}

nav li a{
  display: block;
  color: #e3eaf8;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;


}


/* Style rule for footer content*/
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #1d396d;
  color: #e3eaf8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 0%;
  padding-left: 0%;

}

footer a{
  color: #e3eaf8;
  text-decoration: none;
}
